[Desktop Entry]
Comment=KeepinDarkGreen theme for plasma
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=KeepinDarkGreen
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=adhemarks@gmail.com
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=KeepinDarkGreen
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1387765,kns://plasma-themes.knsrc/api.kde-look.org/1387757,kns://aurorae.knsrc/api.kde-look.org/1387764,kns://kwinswitcher.knsrc/api.kde-look.org/1327319,kns://icons.knsrc/api.kde-look.org/1386473,kns://plasmoids.knsrc/api.kde-look.org/1386465,kns://plasmoids.knsrc/api.kde-look.org/1364071,kns://plasmoids.knsrc/api.kde-look.org/1324315,kns://plasmoids.knsrc/api.kde-look.org/1383271,kns://wallpaper.knsrc/api.kde-look.org/1387804,kns://wallpaper.knsrc/api.kde-look.org/1387795,kns://xcursor.knsrc/api.kde-look.org/1377483,kns://servicemenu.knsrc/api.kde-look.org/1327071
